black
comet_ml
datasets
editdistance
gdown
hydra-core
isort
matplotlib
numpy==1.26.4
pandas
pre-commit
soundfile
tokenizers 
torch_audiomentations
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm
wandb
wget